<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="{{ _charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title '' %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.min.css') }}">
    {% block css '' %}
    {% if metrics_enabled %}
        {% import 'macros/metrics.html.twig' as metrics %}
        {{ metrics.yandex_metrika() }}
        {{ metrics.google_analytics() }}
    {% endif %}
</head>
<body>
<main class="container">
    {% block main '' %}
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block js '' %}
{% if metrics_enabled %}
    <script src="{{ asset('build/js/metrics.js') }}"></script>
{% endif %}
{% if app.debug %}
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
{% endif %}
</body>
</html>
